
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;

}



/* Style forms searchbar */

.mainSearchContent{
  text-align: center;
}

.searchBox{
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.searchBar input[type=text]{
    width: inherit;
    padding: inherit;
    display: inherit;
    border-radius: inherit;
    font-size: inherit;
    background: White;
    border: solid black;
}

.searchBar button{
    border-radius: inherit;
    display: inline;
    padding: inherit;
    text-align: inherit;
    width: 15%;
    background: #2196F3;
    font-size: inherit;
    border: solid black;
    cursor: pointer;
}

.checkBoxWrapper{
  display: inline-block;
  border-radius: 15px;
  width: 80%;
  height: 30px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.checkArtist {
  padding-top: 15px;
  float: left;
}


.form2 input[type=text] {
  width:30%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: inherit;
  font-size: inherit;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: right;
  z-index: inherit;
}

.form2 input[type=text]:focus {
  width:77%;
}

.form2 button{
    border-radius: inherit;
    width: 23%;
    padding: inherit;
    background: #2196F3;
    font-size: inherit;
    border: solid black;
    cursor: pointer;
    float: inherit;
    z-index: inherit;
}



/* Styles forms (like search bars and buttons)*/
.searchBar {
    display: inline-block;
    border-radius: 15px;
    width: 80%;
    height: 30px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.form2 {
    border-radius: 15px;
    height: 100px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    float: right;
    z-index: 0;
}


.header {
  font-size: 4em;
  border: 0px solid black;
  border-radius: 20px;
}

.dataHeader {
  font-size: 5em;
  padding-bottom: 20px;
  border: 0px solid black;
  border-radius: 20px;
  margin: auto;
}

.boxBorder {
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
}



.row{
  display: inline-block;
}

.iconRow{
  display: inline;
}

.centered {
  text-align: center;
}

.centeredBox {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}

.infoWrapper{
  text-align: left;
  margin-left: 30px;
}

.listBox{
    float: left;
    width: 40%;
    margin-left: 20px;
}

.wordCloudBox{
    width: 40%;
    float: right;
    margin-right: 30px;
}


.scroller {
    height:400px;
    overflow: auto;
}

table{
  width: 50%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 2cm;
}
