<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Error page</title>
  <link rel="stylesheet" href="../static/siteStyle.css">
</head>


<body>

  <div class="iconRow">
    <a href="/">
    <img src="{{ url_for('static', filename='home.png') }}" alt="Home page icon"></a>
    <a href="/info.html">
     <img src="{{ url_for('static', filename='infoIcon.png') }}" alt="info page icon"></a>



<div class = "minibar">
   <button type="submit" onclick="sendToPage();" id="searchButton"> 
       <img src="../static/search.png" height="10px">
   </button>
   <input type="search" placeholder="Enter a word, year, or year range" method="put" id="search">
</div>

</div>

  </br>
  </br>

  <div class="centeredBox">
    <div class="header"> Sorry! </div>
    <h2>{{errorMsg}}</h2>
</div>






<script type="text/javascript">

/* js code to properly format the url from the user input */
	 function sendToPage(){
	 	 var input = document.getElementById("search").value;
	 	 var code = "/query/";
	 	 var codedInput = code.concat(input);
	 	 location.href = codedInput;
	 	     return false;
	 			}

/* js code that registers the "enter" key as submit */
	 document.getElementById("search")
	 .addEventListener("keyup", function(event) {
	     event.preventDefault();
	     if (event.code === 'Enter') {
	         document.getElementById("searchButton").click();
	     }
	 });

</script>

</body>



</html>
