<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../static/siteStyle.css">
<title>The Best Lyrical Analysis Website of All Time</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

	<div class="iconRow">
        <a href="/">
        <img src="{{ url_for('static', filename='home.png') }}" alt="Home page icon"></a>
        <a href="/info.html">
         <img src="{{ url_for('static', filename='infoIcon.png') }}" alt="info page icon"></a>



        <div class = "minibar">
            <button type="submit" onclick="sendToPage();" id="searchButton"> 
                <img src="../static/search.png" height="10px">
            </button>
            <input type="search" placeholder="Enter a word, year, or year range" method="put" id="search">
        </div>

   </div>

</br>
</br>


<div class="infoWrapper">
				<div class = "header"> About</div>
		<h3>Who made this and why?</h3>
		<p> This website was made as final project for a Software Design class at Carleton College 
			in winter 2020 by Jack, Will, and Zev.</p>
		<h3> "Musics's most popular words"? By what metric?</h3>
				<p> The data comes from the year-end Billboard top 100 charts from the years 1965 to 2015. If a word had more appearances in the 
					charts, it's more popular.
				</p>
		<h3>What words do you filter out?</h3>
		<p>I, me, the, a, etc. See the full list at the <a href="https://github.com/rybarczykj/popular-lyrics">github repo</a> at data/commonWords.csv</p>
        <h3> Where did this data come from? </h3>
		<p> The dataset was originally created and uploaded to Github by Kaylin Pavlik and again published to Kaggle by RakanNimer.
			Billboard data was scraped from wikipedia.com and lyric data was scraped from various lyrics sites. Check out the
			<a href = "https://github.com/walkerkq/musiclyrics"> source </a> for more info.
		 </p>
		<h3> Can I draw any meaningful conclusions from this data about word usage?</h3>
		<p> All we do is show how much a word was said in the billboard charts, so probably not. Here's a couple reasons why:
			<ul>
				<li> We don't control for overall number of words said in a year. Recent popularity of rap probably means songs say more words, so 
					words may tend to look more popular even if they appear less per 100 words.</li>
				<li> We don't control for distrubtion of words. A word is probably more "popular" said once across 100 differents songs
					rather than 100 times in one song, but it would look the same on our chart.
				</li>
				<li>
					Limited data. We only look at 100 songs per year. That's not a lot of data.
				</li>
			</ul>

		</p>
		
</div>
</div>


<script type="text/javascript">

/* js code to properly format the url from the user input */
	 function sendToPage(){
	 	 var input = document.getElementById("search").value;
	 	 var code = "/query/";
	 	 var codedInput = code.concat(input);
	 	 location.href = codedInput;
	 	     return false;
	 			}

/* js code that registers the "enter" key as submit */
	 document.getElementById("search")
	 .addEventListener("keyup", function(event) {
	     event.preventDefault();
	     if (event.code === 'Enter') {
	         document.getElementById("searchButton").click();
	     }
	 });

</script>

</body>
</html>
