<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='siteStyle.css') }}">
<title>The Best Lyrical Analysis Website of All Time</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

	<div class="iconRow">
	       <a href="/">
	       <img src="{{ url_for('static', filename='home.png') }}" alt="Home page icon"></a>
	       <a href="/info.html">
	        <img src="{{ url_for('static', filename='infoIcon.png') }}" alt="info page icon"></a>


			<div class = "form2">
          <button type="submit" onclick="sendToPage();" id="searchButton"> <i class="fa fa-search">search </i>
            </button>
          <input type="text" placeholder="Enter a word, year, or year range" method="put" id="search">

				</div>

</div>

</br>
</br>


<div class="infoWrapper">
				<div class = "dataHeader"> About The Data </div>
        <h3> What is the data? </h3>
            <p> The dataset compliles the year end Billboard top-100 song list from the years 1965 to 2015. </p>
        <h3> Where did this data come from? </h3>
            <p> The data was scraped from wikipedia.com and a few lyric sites like metrolyrics.com.  </p>
        <h3> Who created the dataset? </h3>
            <p> The dataset was originally created and uploaded to Github by Kaylin Pavlik and again published to Kaggle by RakanNimer. </p>
        <h3> Can I use the data too? </h3>
          <p> Yes! it is cc from https://github.com/walkerkq/musiclyrics </p>
        <h3> Can I search a number as a word?</h3>
          <p> Yes. Put it in quotes. </p>
        <h3>Known Issues</h3>
        <p> Songs which appear in consecutive years are double-counted. We think this is fine for the year's most popular words purpose, but it could be a little misleading for artist data.</p>
</div>
</div>


<script type="text/javascript">

/* js code to properly format the url from the user input */
	 function sendToPage(){
	 	 var input = document.getElementById("search").value;
	 	 var code = "/query/";
	 	 var codedInput = code.concat(input);
	 	 location.href = codedInput;
	 	     return false;
	 			}

/* js code that registers the "enter" key as submit */
	 document.getElementById("search")
	 .addEventListener("keyup", function(event) {
	     event.preventDefault();
	     if (event.code === 'Enter') {
	         document.getElementById("searchButton").click();
	     }
	 });

</script>

</body>
</html>
