<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sample data sheet</title>
  <link rel="stylesheet" href="homepageStyle.css">
</head>
    
    
<body>
    <div class="topnav">
    <h1>The Best Lyrical Analysis Website of All Time </h1> 
    <p>  Billboard Top 100 Analysis </p>
      <a href=""> (About)</a>
      <a href="">(Fun Starting Spots)</a>
      <a href="">(empty link 3)</a>
    </div>
    
    
<div class="content">

<h2>
<img src="home.png" height= "35" alt="Home page icon">  
 <div class = "targetWordContainer">
	<div class = "targetWord">
	<p> Word: "Neato" </p>
	</div>
</div>
</h2>

<div class = centered>
  <table id = "resultsTable">
    <h3 class = "dataDescription">
      Songs ranked in descending order of word usage.
    </h3>
   <tr>
     <th>Rank</th>
     <th>Artist</th>
     <th>Song</th>
     <th>Usage</th>
   </tr>
   <tr>
     <td>1</td>
     <td>Boyz II Men</td>
     <td> I'll Make Love to You </td>
     <td>56</td>
   </tr>
   <tr>
     <td>2</td>
     <td>Lil Nas X</td>
     <td>Old Town Road</td>
     <td>45</td>
   </tr>
   <tr>
     <td>3</td>
     <td>Mark Ronson</td>
     <td>Uptown Funk</td>
     <td>24</td>
   </tr>
   <tr>
     <td>4</td>
     <td>Katy Perry</td>
     <td>Firework</td>
     <td>13</td>
   </tr>
   <tr>
     <td>5</td>
     <td>Katy Perry</td>
     <td>California Girls</td>
     <td>5</td>
   </tr>
   <tr>
     <td>6</td>
     <td>Beethoven</td>
     <td>Symphony #9</td>
     <td>4</td>
   </tr>
   <tr>
     <td>7</td>
     <td>Lil' Wayne</td>
     <td>Fireman</td>
     <td>2</td>
   </tr>
   <tr>
     <td>8</td>
     <td>Earth Wind and Fire</td>
     <td>September</td>
     <td>1</td>
   </tr>
   <tr>
     <td>9</td>
     <td>Frank Ocean</td>
     <td>Chanel</td>
     <td>1</td>
   </tr>
   <tr>
     <td>10</td>
     <td>Mumford and Sons</td>
     <td>I Will Wait</td>
     <td>1</td>
   </tr>
 </table>
<div class = graphImage>
  <h3 class = "dataDescription">
    Word usage by year over all the Billboard songs.
  </h3>
<img src="samplegraph.jpg" alt="Sample bar graph of unique word occurence by year">
</div>
</div>
    
</div>

</body>

<div class="footer">
  <p>[footer]: credits and stuff</p>
</div>
    
</html>
